body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.initials-container {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}